.co-container{
    width: 80%;
    text-align: center;
    padding-top: 50px;
    margin: auto;

}
.co-container p{
    margin-top: 6px;
}
.CourseListAdd{
    display: flex;
    padding-top:50px;
    justify-content: space-between;
}
.padding-o{
    padding-top: 3px;
}
.aboutIcons .fa{
    margin: 0px 12px;
}