.map{
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}
.map iframe{
    width: 100%;
}
.contactForm{
    width: 80%;
    margin: auto;
    display: flex;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
     
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 30px;
    color: #f44336;
    margin: 10px 30px 0px 0px;
}
.contact-col div span h4{
    font-weight: 600;
}
.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 18px;
  outline: none;  
  border: 1px solid #ccc;  
}