@media (max-width: 700px) {

  /* utils */
  .flex-direction {
    flex-direction: column;
  }

  /* header menu  */
  .nav-links li {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -200px;
    top: 0;
    z-index: 2;
    height: 100vh;
    background: rgba(232, 78, 12, 0.959);
    width: 200px;
    text-align: left;
    transition: 1s;
  }

  .nav-links ul {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    display: inline-block;
  }

  .nav-links li:hover::after {
    background-color: white;
    width: 100%;
    text-align: center;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
  }

  /* text area of banner */

  .container-1 h1 {
    font-size: 21px;
  }

  .container-1 p {
    font-size: 12px;
  }

  /* courses are  */
  .courseCard h1 {
    font-size: 24px;
  }

  .courseCard p {
    font-size: 12px;
  }

  /* campus  */

  .flex-col {
    flex-direction: column;
  }

  /* facilities */
  .faciCard img {
    width: 81%;
  }

  /* call to action  */
  .cta h1 {
    font-size: 1rem;
  }

  .about {
    padding-top: 0px;
  }

  /* about us page  */
  .aboutus {
    flex-direction: column-reverse;
  }

}
@media (max-width: 450px){
  /* index page  */
.navigationBox img{
    width: 184px;
  }
  #explore-btn{
    font-size: 12px;
  }
  /* blog page  */
}
@media (max-width: 300px)  {
  /* utils  */
.flex-direction300{
  flex-direction: column;
}
  /* index page  */
  /* testimonials  */
  .testimonials-cel div p, .testimonials-cel div h3{
    font-size: 12px;
  }
.testimonials-cel div .fa{
  font-size: 12px;
}
/* cta area  */
.cta h1{
  font-size: 12px;
  padding: 9px;

}
  /* footer  */
.navigationBox img{
  width: 165px;
  margin-top: 21px;
}
footer p{
  font-size: 12px;
}
/* about page  */
#explore-btn{
  font-size: 12px;
}
}
